body {
    background-color: red;
    margin-top: 2rem;
}

.flex-container {
    background-color: aqua;
    align-items: center;
    flex-direction: row;
}

.flex-items {
    background-color: gold;
    flex-direction: column;
}
